[flake8]
# B = bugbear
# B9 = bugbear opinions
# BLK = black style warnings
# C = mccabe code complexity
# E = pycodestyle errors
# F = pyflakes errors
# I = import order warnings
# W = pycodestyle warnings
select = B,B9,BLK,C,E,F,I,W
# B904 = within an `except` clause, raise exceptions with `raise ... from err`
# E203 = slice notation whitespace, invalid
# E501 = line length, handled by bugbear B950
# W503 = bin op line break, invalid
ignore = B904, E203, E501, W503
# up to 88 allowed by bugbear B950
max-line-length = 80
max-complexity = 18
application-import-names = bourbaki.application
per-file-ignores = tests/*:S101
